<%- include("./partials/header")%>
<head>
    <style>
      h1{
        text-align: center;
        margin-top: 20%;
      }
    </style>
  </head>
     <h1 >Made by Mayur Gupta</h1>
<%- include("./partials/footer")%>